*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

.article > div {
    padding: 30px;
    text-align: center;
}

.dog , .cat{
    display: flex;
    
}
.dog div , .cat div{
    margin: 30px 0;
    border: 1px solid black;
    padding: 10px;
    
}

ul{
    margin: 30px 0;
}